<div class="container">
    <div fxLayout="row" fxLaoutAligh="space-around center">
        <div class="header">
            <img class="dallas" src="../../../assets/dallas-skyline.jpg">
        </div>
    </div>
    <div
        style="margin-top:10px; margin: auto; width: 95%; margin-left: 40px; margin-right: 40px; margin-bottom:40px; padding: 0px 20px 20px 20px">
        <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%"
            fxLayoutAlign="center">
            <dix fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center">
                <div fxFlex="20%" class="icon-panel">
                    <button class="icon-button" id="more" >
                        <i style="color: #002A54" class="fa fa-search-plus  fa-4x"></i>
                    </button>
                    <div class="icon-label">Find Friends</div>
                </div>

                <div fxFlex="20%" class="icon-panel">
                    <button class="icon-button" id="more" >
                        <i style="color: #002A54" class="fas fa-indent fa-4x"></i>
                    </button>
                    <div class="icon-label">Start A New Chat</div>
                </div>


                <div fxFlex="20%" class="icon-panel">
                    <button class="icon-button" id="more" >
                        <i style="color: #002A54" class="fas fa-check-square fa-4x"></i>
                    </button>
                    <div class="icon-label">My Time Line</div>
                </div>

                <div fxFlex="20%" class="icon-panel">
                    <button class="icon-button" id="more" >
                        <i style="color: #002A54" class="fas fa-exclamation-triangle fa-4x"></i>
                    </button>
                    <div class="icon-label">Configuration</div>
                </div>
            </dix>
            
           
    </div>