.mat-toolbar-row
.mat-toolbar-single-row {
    height: 45px;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}

.aligned-with-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}